<nav class="navbar navbar-expand-lg bg-success-light fixed-top">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="marquee">
          <h1 class="col-xs-8 text-center">Company Title</h1>
        </div>
      </div>
    </div>
    <ul class="navbar-nav ml-auto navbar-right-top">
      <li class="nav-item dropdown connection">
        <a class="nav-link" routerLink="/dashboard"><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-item dropdown nav-user">
        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/images/user_profile.svg" alt="" class="user-avatar-md rounded-circle"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
          <div class="nav-user-info">
            <h6 class="mb-0 text-white nav-user-name">User Name</h6>
            <span class="status"></span>
          </div>
          <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
          <a class="dropdown-item" routerLink="/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
