<nav class="navbar navbar-expand-lg  fixed-top">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="marquee ">
          <h1 class="col-xs-8 text-whitei text-center">Company Title</h1>
        </div>
      </div>
    </div>
    <ul class="navbar-nav ml-auto navbar-right-top">
      <li class="nav-item dropdown connection">
      </li>
      <li class="nav-item dropdown nav-user">
        <button class="button-48"  role="button" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text">Settings</span>
        </button>
        <div class="bg dropdown-menu dropdown-menu-right nav-user-dropdown " aria-labelledby="navbarDropdownMenuLink2">
          <div class="setting">
            <button class="button-48 " routerLink="/profile"><span class="text">Profile</span></button>
            <span class="status"></span>
          </div>
          <button class="button-48 "   routerLink="/" > <span class="text">Log Out</span></button>
        </div>
      </li>
    </ul>
  </div>
</nav>
